@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.bebis,
.nav-item {
  font-family: "Bebas Neue", "cursive";
  color: #363958;
}

.nike-nav-color {
  background-color: #fff9f4;
}
.nike-text-color {
  color: #fa804c;
}

.nike-text-font {
  font-family: "Roboto", sans-serif;
}

.nike-btn {
  color: white;
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 9px 16px;
}
.title {
  color: #363958;
  font-family: "Roboto", sans-serif;
}

.back {
  width: 325px;
  height: 327px;
  background-color: #f1f1f1;
}
.ractangular {
  width: 350px;
  height: 104px;
  background-color: #ffffff;
}
